@import url('https://fonts.googleapis.com/css?family=Poppins|Source+Code+Pro&display=swap');

html {
  background-color: #fff !important;
  color: #260339 !important;
  /* font-size: 2em; */
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color: #fff !important;
  color: #260339 !important;
  font-size: 20px !important;
  font-family: "Poppins", sans-serif !important;
}

.code {
  font-family: "Source Code Pro", monospace;
}

.info {
  line-height: 1.4;
  width: 85%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #260339 !important;
}

.icon {
  height: 30px;
  transition: 0.1s ease-in;
  color: #260339;
}

.icon:hover {
  transform: scale(1.5);
  color: #764b8e;
}
.title-contrast {
  text-align: center;
}
#demos {
  display: flex;
  justify-content: center;
}
#panel {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  height: 7em;
  width: 10;
}
.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.1s ease-in;
  background-color: #fff !important;
}

.card p {
  font-size: 0.7em;
  color: #3d1255 !important;
}

.card a {
  font-size: 0.7em;
  color: #764b8e
}

.card:hover {
  transform: scale(1.09);
}
